<!doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
            %>
    </title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel='stylesheet' href='stylesheets/style.css' />
</head>

<body>
    <div class="wrapper">

        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                    <div class="mdl-layout-spacer"></div>
                </div>
            </header>
            <div class="mdl-layout__drawer">
                <span class="mdl-layout-title">ASilum</span>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="">Salle 1</a>
                    <a class="mdl-navigation__link" href="">Salle 2</a>
                    <span class="divider"></span>
                    <a class="mdl-navigation__link" href="">FAQ</a>
                    <a class="mdl-navigation__link" href="">Commands</a>
                    <a class="mdl-navigation__link" href="">About</a>
                    <span class="divider"></span>
                    <div class="mdl-navigation__link">Made with love by AS2015 &copy;</div>
                </nav>
            </div>
            <main class="mdl-layout__content">
                <div class="page-content">

                    <ul class="tchat">

                        <li class="chat page">

                            <ul class="userList">
                                <li id="numUsers"></li>
                            </ul>
                            <div class="chatArea">
                                <ul class="messages"></ul>
                            </div>

                            <form action="#">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input inputMessage" type="text" id="sample3">
                                    <label class="mdl-textfield__label" for="sample3">Type message...</label>
                                </div>
                            </form>

                        </li>

                        <li class="login page">
                            <form action="#">
                                <h2>Log in</h2>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input inputMessage usernameInput" type="text" id="sample3">
                                    <label class="mdl-textfield__label" for="sample3">Nickname</label>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </main>
        </div>
        <div class="push"></div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/javascripts/funnyTchat.js"></script>
</body>

</html>
