@bottomHeight : 2em;
@shadow-elevation-2dp: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                       0 1px 5px 0 rgba(0, 0, 0, 0.12),
                       0 3px 1px -2px rgba(0, 0, 0, 0.2);

/* Fix user-agent */

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
          Roboto,
          Helvetica,
          Arial,
          "Lucida Grande",
          sans-serif;
}

html, body {
  height: 100%;
  font-family: Roboto;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.tchat {
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}


/* Login Page */

.login {
    height:  ~"calc(100vh - 56px - 80px)";
    width: 960px;
    margin: 40px auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

  &.page{
    background-color: #fff;
    padding: 40px;
    border-radius: 3px;
    box-shadow: @shadow-elevation-2dp;
    h2{
        font-weight: 400;
    }

    .form{
      height: 100px;
      margin-top: -100px;
      position: absolute;

      text-align: center;
      top: 50%;
      width: 960px;

      .usernameInput{
        background-color: transparent;
        border: none;
        border-bottom: 2px solid #fff;
        outline: none;
        padding-bottom: 15px;
        text-align: center;
        width: 400px;
        font-size:200%;
        letter-spacing:3px;
        color: #fff;
        font-weight:100;
      }
    }

    .title {
      font-size: 200%;
      color: #fff;
      font-weight:100;
    }
  }
}

/* NAV */
.mdl-navigation__link{
    font-size: 16px;
}


.divider{
    border-top: solid 1px #eee;
    margin: 12px 0;
}

/* Chat page */

.chat.page {
  display: none;
  height:  ~"calc(100vh - 68px)";

  form{
      width: 75%;
  }
}

/* Font */

.messages {
  font-size: 150%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
    width: 75%;
    height:  ~"calc(100vh - 56px - 80px)";

  .messages {
    height: 100%;
    margin: 0;
    overflow-y: scroll;
    padding: 10px 20px 10px 20px;
    width: 100%;
  }

}


.userList{
  padding: 0;
  width: 25%;
  float: right;

  #numUsers{
    margin-top: 8px;
    font-size: 1.125rem;
    font-weight: 500;
    color: rgba(0, 0, 0, .54);
  }

  li{
    padding: 16px 40px;
    line-height: 24px;
    font-size: 1.25rem;
  }
}



.message.typing{
  .messageBody{
    color: gray;
  }
}

.username {
  float: left;
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {

}

/* Main style */

.wrapper {
  min-height: 100%;
  margin: 0 auto -@bottomHeight;
}

footer, .push {
  height: @bottomHeight;
}
